<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scratchy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Scratchy.Properties.Settings>
            <setting name="RenderExportImage_Name" serializeAs="String">
                <value>C:\*.*</value>
            </setting>
            <setting name="View_ShowScratches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="View_ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenderExportNC_Name" serializeAs="String">
                <value>C:\*.NC</value>
            </setting>
            <setting name="NC_Prolog" serializeAs="String">
                <value>G21 G90
G1 F400</value>
            </setting>
            <setting name="NC_Epilog" serializeAs="String">
                <value>M2</value>
            </setting>
            <setting name="SaveAsOFF_Name" serializeAs="String">
                <value>C:\*.OFF</value>
            </setting>
            <setting name="Common_ToolAngle" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Common_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Common_ViewingAngle" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Common_LightingAngle" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Common_MovingAngle" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="NC_TravelHeight" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NC_ScratchingDepthMax" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="NC_ScratchingDepthZero" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="NC_ScratchingDepthAtHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="NC_ForceG1onNegZ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NC_CompensateRadius" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Common_ScanningStepAngle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Common_WorkingAreaX" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Common_WorkingAreaY" serializeAs="String">
                <value>90</value>
            </setting>
        </Scratchy.Properties.Settings>
    </userSettings>
</configuration>